.public-container
{
	width:1280px;
	position:relative;
	margin:0 auto;	
}
.public-header
{
	height:60px;
}
.public-header-logo
{
	width:130px;
	height:35px;
	float:left;
	margin:15px 0 15px 60px;
}
.logo
{
	height:30px;
	font-size:21px;
	font-weight:bold;
	margin-left:45px;
	padding-top:2px;
	letter-spacing:1.5px;
}
.public-header-navbar
{
	width:510px;
	height:60px;
	float:right;
}
.public-header-navbar a
{
	width:56px;
	height:42px;
	text-align:center;
	padding:18px 2px 0 2px;
	font-size:14px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	color:#85868d;
}
.public-header-navbar a:hover
{
	color:#e74f4d;
}
.cur
{
background:url(../image/red_border.png) no-repeat bottom;
}
.public-header-user{
float:right;
height:42px;
width:85px;
padding-top:18px;
}
.user a{
font-size:14px;
color:#e74f4d;
padding-left:20px;
letter-spacing:0.5px;
}

.public-footer
{

}
.public-footer span{

}