title{
background:url(../images/1.png) no-repeat;
}
.container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width:768px){
    .container{
        width:750px;
		padding-right:0px;
    	padding-left:0px;
    }

}

@media (min-width:992px){
    .container{
        width:970px;
		padding-right:0px;
    	padding-left:0px;
    }

}

@media (min-width:1200px){
    .container{
        width:1170px;
		padding-right:0px;
    	padding-left:0px;
    }

}
.bg{
background-color:rgb(236,240,241);
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left:10px;
}
.navbar{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.my-navbar{
background-color:#000000;
}
.my-navbar-header{
height:50px;
}

.logo{
padding:0;
padding-top:5px;
}
.logo_title{
color:#FFFFFF;
display:block;
height:40px;
float:left;
font-size:22px;
padding-left:7px;
padding-top:14px;
font-family:"Courier New", Courier, monospace;
}
.item a{
color:#FFFFFF !important;
}