/* CSS Document */
.col-lg-2
{
	padding-left:0px;
	padding-right:0px;
}
.register
{
	height:550px;
	margin-top:10px;
}
.pic
{
	clear:both;
	margin-top:30px;
}
.title
{
	float:left;
	margin-top:8px;
}
.title span
{
	font-size:2vw;
	font-weight:bold;
}
.loop
{
	float:left;
	font-size:16px;
	height:18px;
	margin-top:10px;
}
.loop a
{
	display:block;
	padding-left:6px;
	text-decoration:none;
	color:rgb(90,90,90);
}
.loop a:hover,a:active
{	
	border:none;
	color:rgb(50,120,230);
	border-bottom:2px solid rgb(50,120,230);
}
.registerBox
{
	height:270px;
	margin-top:20px;
	background-color:#FFFFFF;
	padding-top:20px;
}

.input-group
{
	margin-bottom:6px;
}

.input-group-addon
{
	background-color:rgb(250,250,250);
	color:rgb(17,159,142);
}

.input-group span
{
	border:none;
}

.input-group input
{
	border:1px solid rgb(250,250,250);
}

.pin
{
	float:left;
}

.pin a:hover,a:active
{
	text-decoration:none;
}

.comfirm
{
	height:40px;
	background-color:#dc1e32;
	border:none;
	margin-top:20px;
	color:#FFFFFF;
	font-size:23px;
}






