/*
* @Author: Zoe
* @Date:   2017-12-28 08:45:34
* @Last Modified by:   Zoe
* @Last Modified time: 2018-01-09 11:36:38
*/
.nav{
	background:#eee;
	height: 30px;
	line-height: 30px;
}
/*用户部分*/
.nav .user{
	float: left;
}
.nav .user.login{
	display: none;
}
.nav .user .link{
	margin-right: 5px;
}
/*导航栏链接部分*/
.nav .nav-list{
	float: right;
}
.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}

.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}


.header .logo{
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.header .search-con{
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}
.header .search-con .search-btn{
    position: absolute;
    width: 80px;
    height: 44px;
    border: none;
    background-color: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer
}


.cate-wrap{
	float: left;;
	width: 240px;
	height: 370px;
	background-color: #666;
	color: #fff;
	padding-top: 10px;
}
.cate-item{
	display: block;
	height: 36px;
	line-height: 36px;
	padding-left: 16px;
	font-size: 15px;
}
.cate-item:hover{
	background-color: #999;
}
.cate-item a{
	color: #fff;
	float: left;
	padding-right: 10px;
}

.slider{
	float: left;
	margin-left: 10px;
	height:380px;
}

/*轮播图样式*/
.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b04 { width: 640px;}
#b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#b04 .dots li{ 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin: 0 4px; 
	text-indent: -999em; 
	border: 2px solid #fff; 
	border-radius: 6px; 
	cursor: pointer; 
	opacity: .4; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}

#b04 .dots li.active 
{
	background: #fff;
	opacity: 1;
}
#b04 .arrow { position: absolute; top: 170px; padding: 10px;}
#b04 .arrow:hover{background-color: #000;opacity: 0.7;}
#b04 #al { left: 15px;}
#b04 #ar { right: 15px;}

/*秒杀样式*/
.seckill{
	height: auto;
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.seckill .sk-head{
	height: 55px;
	background: url(../image/seckill_hd.png) no-repeat 0 0;
}
.triangle-topleft{
    width: 0;
    height: 0;
    border-top: 14px solid rgb(189,3,17);
    border-right: 14px solid transparent;
    position: absolute;
    top:13px;
    left: 5px;
}

.sk-timeout{
	float: right;
	margin: 0 auto;
	height: 55px;
	line-height: 55px;
	margin-right: 10px;
}
.sk-timeout span{
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 3px;
	font-size: 22px;
	font-weight: bold;
	color: #f90013;
	background-color: #440106;
	margin-left: 3px;
	margin-right: 3px;
	text-align: center;
}
.sk-timeout span:first-child{
	margin-left: 8px;
}
.sk-timeout span:last-child{
	margin-right: 8px;
}
.sk-timeout small{
	font-size: 22px;
	font-weight: bold;
	color: #440106;
}
.sk-list{
	background-color: #fff;
	box-sizing: border-box;
	height: 250px;
	padding-left: 16px;
	padding-top: 12px;
}
.sk-list li{
	display: inline-block;
}
.sk-list .sk-item{
	box-sizing: border-box;
	width: 202px;
	height: 228px;
	font-size: 12px;
	padding: 15px;
	background-color: #fff;
	color: #999;
	border-right: 1px solid #e7e7e7;
}
.sk-list .sk-item .sk-pic img{
	margin: 0 auto;
/*	box-shadow:0 5px 5px #666;*/
}
.sk-list .sk-item .sk-desc{
	margin-top: 16px;
	margin-bottom:10px; 
}
.money{
	font-size: 12px;
	color: #f10214;
}
.sk-list .sk-item .sk-price{
	font-size: 18px;
	font-weight: bolder;
	color: #f10214;
}
.sk-list .sk-item .sk-cost{
	font-size: 12px;
	margin-left: 5px;
	text-decoration: line-through;
}

.pannel:nth-child(1) .pannel-head{
	background-image: linear-gradient(90deg,#4998a1,#2e828b);
}
.pannel:nth-child(2) .pannel-head{
	background-image: linear-gradient(90deg,#76488e,#662d72);
}
.pannel:nth-child(3) .pannel-head{
	background-image: linear-gradient(90deg,#e77005,#e45d04);
}
.pannel{
	float: left;
	width: 353px;
	height: 444px;
	margin-right: 10px;
	font-size: 12px;
	color: #fff;
	background-color: #fff;
}
.pannel-head{
	height: 55px;
}
.pannel .box-tit{
	margin-left: 30px;
}
.pannel .box-smtit{
	float: right;
	margin-right: 18px;
}
.pannel-cont{
	box-sizing: border-box;
	padding: 12px;
}
.good-item{
	width: 164px;
	height: 120px;
	color: #70a4c1;
	float: left;
}
.good-text{
	box-sizing: border-box;
	width: 80px;
	padding: 20px 0 0 20px;
}