dd{
margin:0;
padding:0;
}
.box{
width:1000px;
height:auto;
margin:0 auto;
padding-bottom:30px;
border:1px solid #ccc;
}
h1{
text-align:center;
}
.box1{
height:45px;
width:900px;
border:1px solid rgb(234,234,234);
margin:0 auto;
border-radius:3px;
}
.box1 dd{
float:left;
padding-right:168px;
font-size:14px;
}
.box2{
height:52px;
width:900px;
border:1px solid rgb(234,234,234);
margin:0 auto;
margin-top:12px;
border-radius:3px;
}
input{
height:20px;
width:130px;
border:1px solid rgb(234,234,234);
}
.box2 dd{
float:left;
padding-left:15px;
padding-right:83px;
font-size:13px;
}
.title{
height:35px;
background-color:rgb(245,245,245);
border-bottom:1px solid rgb(234,234,234);
padding-left:15px;
padding-top:10px;

}
.blanks{
height:180px;
width:900px;
border:1px solid rgb(234,234,234);
margin:0 auto;
margin-top:12px;
border-radius:3px;
}
.blanks_content{
padding-left:15px;
font-size:14px;
}
.blanks_content dd{
margin:5px 10px;
}
.blanks_content input{
margin-right:4px;
}
.choose dd{
font-size:12px;
}
.choose input{
width:12px;
height:12px;
}
.judge dd{
font-size:14px;
margin-top:8px;
}
.judge input{
width:12px;
height:12px;
}
.btn{
width:900px;
margin:0 auto;
margin-top:18px;
}
#score{
background-color:rgb(47,121,186);
border:none;
color:#FFFFFF;
height:30px;
width:70px;
border-radius:3px;
margin-left:45%;
}